.header-dropdown li a i {
    font-size: 16px;
}


.rtl .top-header .header-dropdown li:last-child {
    padding-left: 0;
}

.mobile-language {
    display: none !important;
}

.pixelstrap a,
.pixelstrap a:hover,
.pixelstrap a:active {
    letter-spacing: 0;
}

.pixelstrap a.active {
    color: #90453e;
    font-size: 18px;
}

.rtl .pixelstrap a .sub-arrow {
    right: auto;
    left: 20px;
}

.top-header .header-contact ul {
    padding-right: 0;
}

.home-slider .slider-contain h4,
.center-slider .slider-contain h4 {
    letter-spacing: 0;
}

.home-slider .slider-contain h1,
.center-slider .slider-contain h1 {
    margin-bottom: 20px;
    letter-spacing: 0;
}

.main-menu .brand-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.full-banner .banner-contain h4 {
    letter-spacing: 0;
}

.rtl ul.contact-list,
.rtl .footer-contant ul {
    padding-right: 0;
}

.rtl .breadcrumb-item+.breadcrumb-item::before {
    float: right;
}

.collection-product-wrapper .product-wrapper-grid .product-box {
    margin-bottom: 50px;
    margin-top: 0;
}

.rtl ul.pagination {
    padding-right: 0;
}

.product-pagination .pagination .page-item.active a {
    color: #fff;
    border-color: var(--theme-deafult);
    background: var(--theme-deafult);
}



.collection-collapse-block .collection-collapse-block-content .collection-brand-filter .category-list dt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
}

.collection-collapse-block .collection-collapse-block-content .collection-brand-filter .category-list dd a {
    color: #777777;
    padding-bottom: 10px;
}

.collection-collapse-block .collection-collapse-block-content .collection-brand-filter .category-list dd:last-child a {
    padding-bottom: 0;
}

.collection-collapse-block .collection-collapse-block-content .collection-brand-filter .category-list dt {
    margin-top: 20px;
}

.category-list dt a {
    color: #000;
}

.product-right .price-detail span {
    letter-spacing: 0;
}

.product-right .color li {
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.onhover-div {
    font-family: 'Cairo-Regular' !important;
}

select.form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

body.rtl table tbody tr td {
    text-align: center;
}

.cart-section .cart-table,
.wishlist-section .cart-table {
    overflow: auto;
}

.rtl .main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart li .total h5 {
    text-align: right;
}

.rtl .main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart li .total h5 span {
    float: left;
}

.order-box .qty {
    padding-right: 0;
}

.order-box .total {
    padding-right: 0;
}

.contact-page .theme-form input {
    margin-bottom: 10px;
}



/*================================================
WhatsApp Icon CSS
=================================================*/

.floating-wpp {
    position: fixed;
    bottom: 30px;
    font-size: 14px;
    transition: bottom .2s;
    left: 20px !important;
}

.rtl .floating-wpp {
    position: fixed;
    bottom: 30px;
    left: 15px;
    font-size: 14px;
    transition: bottom .2s;
    right: 20px !important;
    left: auto !important;
}

.floating-wpp .floating-wpp-button {
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(60, 60, 60, .4);
    transition: box-shadow .2s;
    cursor: pointer;
    overflow: hidden
}

.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0)
}


.floating-wpp:hover .floating-wpp-button {
    box-shadow: 1px 2px 8px rgba(60, 60, 60, .4)
}

.floating-wpp .floating-wpp-popup {
    border-radius: 6px;
    background-color: #E5DDD5;
    position: absolute;
    overflow: hidden;
    padding: 0;
    box-shadow: 1px 2px 8px rgba(60, 60, 60, .25);
    width: 0;
    height: 0;
    bottom: 0;
    opacity: 0;
    transition: bottom .1s ease-out, opacity .2s ease-out;
    transform-origin: bottom
}

.floating-wpp .floating-wpp-popup.active {
    padding: 0 12px 12px;
    width: 260px;
    height: auto;
    bottom: 82px;
    opacity: 1
}

.floating-wpp .floating-wpp-popup .floating-wpp-message {
    background-color: #fff;
    padding: 8px;
    border-radius: 0 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
    opacity: 0;
    transition: opacity .2s
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
    opacity: 1;
    transition-delay: .2s
}

.floating-wpp .floating-wpp-popup .floating-wpp-head {
    text-align: right;
    color: #fff;
    margin: 0 -15px 10px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer
}

.floating-wpp .floating-wpp-input-message {
    background-color: #fff;
    margin: 10px -15px -15px;
    padding: 0 15px;
    display: flex;
    align-items: center
}

.floating-wpp .floating-wpp-input-message textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    font-size: inherit;
    resize: none
}

.rtl .floating-wpp .floating-wpp-btn-send {
    margin-right: 12px;
    font-size: 0;
    cursor: pointer
}

.floating-wpp .floating-wpp-btn-send {
    margin-left: 12px;
    font-size: 0;
    cursor: pointer
}


@media (max-width: 1200px) {
    .mobile-language {
        display: block !important;
    }
}
